#GamerZone{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 70px;
    color: crimson;
    text-transform: capitalize;
}

.em-title{
    font-weight: bolder;
    font-size: 50px;
    text-transform: capitalize;
    color: chartreuse;
}

.em-text{
    text-decoration: none;
    color: crimson;
    font-size: 30px;
}

.em-link{
    text-decoration: none;
    color: cyan;
}

.topnav{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    background-color: chartreuse;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

a:hover{
    size: 10%;
}

footer{
    background-color: crimson;
    text-align: center;
    position: relative;
    height: 20px;
    margin-top: 100px;
    clear: both;
    text-transform: capitalize;
  }